<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/GitIDEA/selenium-testng-study">
        <classes><class name="com.selenium.BasicTest">
            <methods>
                <include name="googleCheeseExample"/>
                <include name="googleMilkExample"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>