<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="systemTest">
    <suite-files>
        <suite-file path="C:\GitIDEA\selenium-testng-study\testng_xml\testng_BasicIT.xml"></suite-file>
        <suite-file path="C:\GitIDEA\selenium-testng-study\testng_xml\testng_MultipleBrowserSearchTest.xml"></suite-file>
		<suite-file path="C:\GitIDEA\selenium-testng-study\testng_xml\testng_ActionsPractice.xml"></suite-file>
	    <suite-file path="C:\GitIDEA\selenium-testng-study\testng_xml\testng_DrivenByDate.xml"></suite-file>
		
    </suite-files>
</suite>